# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


*.DS_Store

/**/.ipynb_checkpoints/
checkpoints/
*-checkpoints*/
*_checkpoints*/
baked*/
qwen2.5-*/
raw_vit/
*dataset*/
dried_heatmaps/
images*/
*logs/
results*/
vae-phase1*/


models/

data/
experiments/
notebooks/checkpoints/
notebooks/exp2_output/


.env


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# PyTorch weights
*.tar
*.pth
*.pt
*.torch
*.gz
Untitled.ipynb
Testing notebook.ipynb

# Root dir exclusions
/*.csv
/*.yaml
/*.json
/*.jpg
/*.png
/*.zip
/*.tar.*
*.jpg
*.png
*.avi
*.mp4
*.svg

.mypy_cache/
.vscode/
.idea

output/
input/

run.sh

# logs and venv too
logs/
venv/
.venv/
env/
.env/
baked_heat_qwen/added_tokens.json
baked_heat_qwen/chat_template.json
baked_heat_qwen/config.json
baked_heat_qwen/generation_config.json
baked_heat_qwen/merges.txt
baked_heat_qwen/model-00001-of-00002.safetensors
baked_heat_qwen/model-00002-of-00002.safetensors
baked_heat_qwen/model.safetensors.index.json
baked_heat_qwen/preprocessor_config.json
baked_heat_qwen/special_tokens_map.json
baked_heat_qwen/tokenizer_config.json
baked_heat_qwen/tokenizer.json
baked_heat_qwen/vocab.json
